automation/n8n-setup/workflows/netbox-homelab-updater.json
{
  "name": "Netbox Homelab Auto-Updater",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "nodes": [
    {
      "id": "n1-schedule-trigger",
      "name": "Daily Midnight Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "n2-set-config",
      "name": "Set: Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-netbox-url",
              "name": "netbox_url",
              "value": "http://10.0.0.1:8081",
              "type": "string"
            },
            {
              "id": "cfg-netbox-token",
              "name": "netbox_token",
              "value": "9A37578DBAbEA6d4C3eDbd60f36672e92DaAa9cE",
              "type": "string"
            },
            {
              "id": "cfg-site-name",
              "name": "site_name",
              "value": "Homelab",
              "type": "string"
            },
            {
              "id": "cfg-cluster-name",
              "name": "cluster_name",
              "value": "homelab-docker",
              "type": "string"
            },
            {
              "id": "cfg-librenms-url",
              "name": "librenms_url",
              "value": "http://10.0.0.1:8080",
              "type": "string"
            },
            {
              "id": "cfg-librenms-token",
              "name": "librenms_token",
              "value": "ad50961fcd60299fefcb864738503397c5ebdbf62a417bbf0e8034eb59292a3c",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "n3-ssh-docker",
      "name": "SSH: Collect Docker State",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "resource": "command",
        "command": "docker ps -a --format '{\"name\":\"{{.Names}}\",\"image\":\"{{.Image}}\",\"state\":\"{{.State}}\",\"status\":\"{{.Status}}\",\"ports\":\"{{.Ports}}\",\"id\":\"{{.ID}}\"}'",
        "authentication": "privateKey"
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "homelab-ssh-cred",
          "name": "Homelab SSH"
        }
      }
    },
    {
      "id": "n4-code-parse",
      "name": "Code: Parse SSH Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.split('\\n').filter(function(l) { return l.trim().charAt(0) === '{'; });\nconst containers = [];\n\nfunction parsePorts(portsStr) {\n  if (!portsStr) return [];\n  const seen = new Set();\n  const result = [];\n  const parts = portsStr.split(',');\n  for (let i = 0; i < parts.length; i++) {\n    const p = parts[i].trim();\n    const arrowIdx = p.indexOf('->');\n    if (arrowIdx < 0) continue;\n    const right = p.slice(arrowIdx + 2);\n    const slashIdx = right.indexOf('/');\n    if (slashIdx < 0) continue;\n    const containerPort = parseInt(right.slice(0, slashIdx));\n    const protocol = right.slice(slashIdx + 1).toUpperCase().trim();\n    const key = containerPort + '/' + protocol;\n    if (!seen.has(key) && !isNaN(containerPort)) {\n      seen.add(key);\n      const left = p.slice(0, arrowIdx);\n      const colonIdx = left.lastIndexOf(':');\n      const hostPort = colonIdx >= 0 ? parseInt(left.slice(colonIdx + 1)) : 0;\n      result.push({ host_port: hostPort, container_port: containerPort, protocol: protocol });\n    }\n  }\n  return result;\n}\n\nfor (let i = 0; i < lines.length; i++) {\n  try {\n    const c = JSON.parse(lines[i]);\n    const name = (c.name || '');\n    containers.push({\n      name: name.charAt(0) === '/' ? name.slice(1) : name,\n      image: c.image || '',\n      state: c.state || '',\n      status: c.status || '',\n      ports: parsePorts(c.ports),\n      container_id: c.id || ''\n    });\n  } catch(e) {}\n}\n\nreturn [{ json: { containers: containers, collected_at: new Date().toISOString() } }];"
      }
    },
    {
      "id": "n5-code-infra",
      "name": "Code: Ensure Netbox Infrastructure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst config = $('Set: Configuration').first().json;\nconst netbox_url = config.netbox_url;\nconst netbox_token = config.netbox_token;\nconst site_name = config.site_name;\nconst cluster_name = config.cluster_name;\nconst headers = {\n  'Authorization': 'Token ' + netbox_token,\n  'Content-Type': 'application/json',\n  'Accept': 'application/json'\n};\n\nasync function nbGet(path, params) {\n  let url = netbox_url + '/api/' + path + '/?limit=500';\n  if (params) {\n    const keys = Object.keys(params);\n    for (let i = 0; i < keys.length; i++) {\n      url += '&' + encodeURIComponent(keys[i]) + '=' + encodeURIComponent(params[keys[i]]);\n    }\n  }\n  return await $helpers.httpRequest({ method: 'GET', url: url, headers: headers });\n}\n\nasync function nbPost(path, body) {\n  return await $helpers.httpRequest({\n    method: 'POST',\n    url: netbox_url + '/api/' + path + '/',\n    headers: headers,\n    body: JSON.stringify(body)\n  });\n}\n\nasync function upsert(path, searchParams, createBody) {\n  const r = await nbGet(path, searchParams);\n  if (r.count > 0) return r.results[0];\n  return await nbPost(path, createBody);\n}\n\nconst site = await upsert('dcim/sites', { name: site_name }, {\n  name: site_name,\n  slug: site_name.toLowerCase().split(' ').join('-'),\n  status: 'active'\n});\n\nconst clusterType = await upsert('virtualization/cluster-types', { name: 'Docker' }, {\n  name: 'Docker',\n  slug: 'docker'\n});\n\nconst cluster = await upsert('virtualization/clusters', { name: cluster_name }, {\n  name: cluster_name,\n  type: { id: clusterType.id },\n  site: { id: site.id }\n});\n\nreturn [{\n  json: {\n    containers: d.containers,\n    collected_at: d.collected_at,\n    netbox_url: netbox_url,\n    netbox_token: netbox_token,\n    site: site,\n    cluster_type: clusterType,\n    cluster: cluster\n  }\n}];"
      }
    },
    {
      "id": "n6-code-vms",
      "name": "Code: Sync Virtual Machines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst netbox_url = d.netbox_url;\nconst netbox_token = d.netbox_token;\nconst cluster = d.cluster;\nconst containers = d.containers;\nconst collected_at = d.collected_at;\nconst headers = {\n  'Authorization': 'Token ' + netbox_token,\n  'Content-Type': 'application/json',\n  'Accept': 'application/json'\n};\n\nconst existingResp = await $helpers.httpRequest({\n  method: 'GET',\n  url: netbox_url + '/api/virtualization/virtual-machines/?cluster_id=' + cluster.id + '&limit=1000',\n  headers: headers\n});\n\nconst existingByName = {};\nfor (let i = 0; i < existingResp.results.length; i++) {\n  const vm = existingResp.results[i];\n  existingByName[vm.name] = vm;\n}\n\nconst containerNames = {};\nfor (let i = 0; i < containers.length; i++) {\n  containerNames[containers[i].name] = true;\n}\n\nconst toCreate = [];\nconst toUpdate = [];\nconst toMarkOffline = [];\n\nfor (let i = 0; i < containers.length; i++) {\n  const c = containers[i];\n  const vmStatus = c.state === 'running' ? 'active' : 'offline';\n  const vmData = {\n    name: c.name,\n    cluster: { id: cluster.id },\n    status: vmStatus,\n    comments: 'Image: ' + c.image + ' | Synced: ' + collected_at\n  };\n  if (existingByName[c.name]) {\n    const update = {\n      id: existingByName[c.name].id,\n      name: vmData.name,\n      cluster: vmData.cluster,\n      status: vmData.status,\n      comments: vmData.comments\n    };\n    toUpdate.push(update);\n  } else {\n    toCreate.push(vmData);\n  }\n}\n\nfor (let i = 0; i < existingResp.results.length; i++) {\n  const vm = existingResp.results[i];\n  const statusVal = vm.status && vm.status.value ? vm.status.value : vm.status;\n  if (!containerNames[vm.name] && statusVal !== 'offline') {\n    toMarkOffline.push({ id: vm.id, status: 'offline' });\n  }\n}\n\nlet created = [];\nif (toCreate.length > 0) {\n  const resp = await $helpers.httpRequest({\n    method: 'POST',\n    url: netbox_url + '/api/virtualization/virtual-machines/',\n    headers: headers,\n    body: JSON.stringify(toCreate)\n  });\n  created = Array.isArray(resp) ? resp : [resp];\n}\n\nlet updated = [];\nif (toUpdate.length > 0) {\n  const resp = await $helpers.httpRequest({\n    method: 'PATCH',\n    url: netbox_url + '/api/virtualization/virtual-machines/',\n    headers: headers,\n    body: JSON.stringify(toUpdate)\n  });\n  updated = Array.isArray(resp) ? resp : [resp];\n}\n\nif (toMarkOffline.length > 0) {\n  await $helpers.httpRequest({\n    method: 'PATCH',\n    url: netbox_url + '/api/virtualization/virtual-machines/',\n    headers: headers,\n    body: JSON.stringify(toMarkOffline)\n  });\n}\n\nconst vmByName = {};\nfor (let i = 0; i < created.length; i++) {\n  if (created[i] && created[i].name) vmByName[created[i].name] = created[i];\n}\nfor (let i = 0; i < toUpdate.length; i++) {\n  const name = toUpdate[i].name;\n  if (existingByName[name]) vmByName[name] = existingByName[name];\n}\nfor (let i = 0; i < containers.length; i++) {\n  const name = containers[i].name;\n  if (!vmByName[name] && existingByName[name]) vmByName[name] = existingByName[name];\n}\n\nreturn [{\n  json: {\n    containers: d.containers,\n    collected_at: d.collected_at,\n    netbox_url: d.netbox_url,\n    netbox_token: d.netbox_token,\n    site: d.site,\n    cluster_type: d.cluster_type,\n    cluster: d.cluster,\n    vmByName: vmByName,\n    vm_sync: {\n      created: toCreate.length,\n      updated: toUpdate.length,\n      marked_offline: toMarkOffline.length\n    }\n  }\n}];"
      }
    },
    {
      "id": "n7-code-services",
      "name": "Code: Sync Services and Ports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst netbox_url = d.netbox_url;\nconst netbox_token = d.netbox_token;\nconst containers = d.containers;\nconst vmByName = d.vmByName;\nconst headers = {\n  'Authorization': 'Token ' + netbox_token,\n  'Content-Type': 'application/json',\n  'Accept': 'application/json'\n};\n\nlet servicesCreated = 0;\nlet servicesUpdated = 0;\n\nfor (let i = 0; i < containers.length; i++) {\n  const c = containers[i];\n  if (!c.ports || c.ports.length === 0) continue;\n  const vm = vmByName[c.name];\n  if (!vm) continue;\n\n  const existingResp = await $helpers.httpRequest({\n    method: 'GET',\n    url: netbox_url + '/api/ipam/services/?virtual_machine_id=' + vm.id + '&limit=100',\n    headers: headers\n  });\n\n  const existingByKey = {};\n  for (let j = 0; j < existingResp.results.length; j++) {\n    const svc = existingResp.results[j];\n    if (svc.ports && svc.ports.length > 0) {\n      const protoVal = svc.protocol && svc.protocol.value ? svc.protocol.value : svc.protocol;\n      const key = svc.ports[0] + '-' + protoVal;\n      existingByKey[key] = svc;\n    }\n  }\n\n  for (let j = 0; j < c.ports.length; j++) {\n    const p = c.ports[j];\n    const proto = p.protocol.toLowerCase();\n    const key = p.container_port + '-' + proto;\n    const svcName = c.name + ':' + p.container_port + '/' + proto;\n    if (existingByKey[key]) {\n      await $helpers.httpRequest({\n        method: 'PATCH',\n        url: netbox_url + '/api/ipam/services/' + existingByKey[key].id + '/',\n        headers: headers,\n        body: JSON.stringify({ name: svcName, ports: [p.container_port], protocol: proto })\n      });\n      servicesUpdated++;\n    } else {\n      await $helpers.httpRequest({\n        method: 'POST',\n        url: netbox_url + '/api/ipam/services/',\n        headers: headers,\n        body: JSON.stringify({\n          virtual_machine: vm.id,\n          name: svcName,\n          ports: [p.container_port],\n          protocol: proto\n        })\n      });\n      servicesCreated++;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    containers: d.containers,\n    collected_at: d.collected_at,\n    netbox_url: d.netbox_url,\n    netbox_token: d.netbox_token,\n    site: d.site,\n    cluster_type: d.cluster_type,\n    cluster: d.cluster,\n    vmByName: d.vmByName,\n    vm_sync: d.vm_sync,\n    services_sync: { created: servicesCreated, updated: servicesUpdated }\n  }\n}];"
      }
    },
    {
      "id": "n8-code-prefixes",
      "name": "Code: Sync Network Prefixes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst netbox_url = d.netbox_url;\nconst netbox_token = d.netbox_token;\nconst site = d.site;\nconst headers = {\n  'Authorization': 'Token ' + netbox_token,\n  'Content-Type': 'application/json',\n  'Accept': 'application/json'\n};\n\nconst knownPrefixes = [\n  { prefix: '172.20.0.0/24', description: 'homelab-net Docker network', status: 'active' },\n  { prefix: '10.0.10.0/24', description: 'Lab LAN (lab.home domain)', status: 'active' },\n  { prefix: '10.8.0.0/24', description: 'WireGuard VPN tunnel', status: 'active' },\n  { prefix: '172.17.0.0/16', description: 'Docker default bridge (docker0)', status: 'reserved' },\n  { prefix: '10.10.10.0/24', description: 'Kubernetes cluster nodes (k8s-prod)', status: 'active' },\n  { prefix: '10.244.0.0/16', description: 'Kubernetes pod CIDR (Calico CNI)', status: 'active' },\n  { prefix: '10.96.0.0/12', description: 'Kubernetes service CIDR', status: 'active' }\n];\n\nlet prefixesCreated = 0;\nlet prefixesExisting = 0;\n\nfor (let i = 0; i < knownPrefixes.length; i++) {\n  const p = knownPrefixes[i];\n  const result = await $helpers.httpRequest({\n    method: 'GET',\n    url: netbox_url + '/api/ipam/prefixes/?prefix=' + encodeURIComponent(p.prefix),\n    headers: headers\n  });\n\n  if (result.count === 0) {\n    await $helpers.httpRequest({\n      method: 'POST',\n      url: netbox_url + '/api/ipam/prefixes/',\n      headers: headers,\n      body: JSON.stringify({\n        prefix: p.prefix,\n        description: p.description,\n        status: p.status,\n        site: { id: site.id }\n      })\n    });\n    prefixesCreated++;\n  } else {\n    prefixesExisting++;\n  }\n}\n\nreturn [{\n  json: {\n    containers_found: d.containers.length,\n    vm_sync: d.vm_sync,\n    services_sync: d.services_sync,\n    prefixes_sync: { created: prefixesCreated, existing: prefixesExisting }\n  }\n}];"
      }
    },
    {
      "id": "n9-code-physical-devices",
      "name": "Code: Sync Physical Devices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $('Set: Configuration').first().json;\nconst netbox_url = config.netbox_url;\nconst netbox_token = config.netbox_token;\nconst librenms_url = config.librenms_url;\nconst librenms_token = config.librenms_token;\nconst site = $('Code: Ensure Netbox Infrastructure').first().json.site;\nconst nbH = {\n  'Authorization': 'Token ' + netbox_token,\n  'Content-Type': 'application/json',\n  'Accept': 'application/json'\n};\nconst lnmH = { 'X-Auth-Token': librenms_token, 'Accept': 'application/json' };\n\nasync function nbGet(path, params) {\n  let url = netbox_url + '/api/' + path + '/?limit=500';\n  if (params) {\n    const keys = Object.keys(params);\n    for (let i = 0; i < keys.length; i++) {\n      url += '&' + encodeURIComponent(keys[i]) + '=' + encodeURIComponent(params[keys[i]]);\n    }\n  }\n  return await $helpers.httpRequest({ method: 'GET', url: url, headers: nbH });\n}\n\nasync function nbPost(path, body) {\n  return await $helpers.httpRequest({\n    method: 'POST',\n    url: netbox_url + '/api/' + path + '/',\n    headers: nbH,\n    body: JSON.stringify(body)\n  });\n}\n\nasync function upsert(path, searchParams, createBody) {\n  const r = await nbGet(path, searchParams);\n  if (r.count > 0) return r.results[0];\n  return await nbPost(path, createBody);\n}\n\n// Pull all SNMP-discovered physical devices from LibreNMS\nlet lnmDevices = [];\ntry {\n  const resp = await $helpers.httpRequest({ method: 'GET', url: librenms_url + '/api/v0/devices', headers: lnmH });\n  lnmDevices = resp.devices || [];\n} catch(e) {}\n\nfunction guessRoleSlug(os, descr) {\n  const s = (os + ' ' + descr).toLowerCase();\n  if (s.includes('proxmox') || s.includes('pve')) return 'hypervisor';\n  if (s.includes('switch') || s.includes('cisco') || s.includes('junos') || s.includes('cumulus')) return 'network-switch';\n  if (s.includes('router') || s.includes('gateway') || s.includes('openwrt') || s.includes('vyos')) return 'gateway';\n  if (s.includes('nas') || s.includes('truenas') || s.includes('freenas') || s.includes('synology')) return 'nas';\n  return 'server';\n}\n\nconst roleLabels = {\n  'server': 'Server',\n  'hypervisor': 'Hypervisor',\n  'network-switch': 'Network Switch',\n  'gateway': 'Gateway',\n  'nas': 'NAS'\n};\n\nconst manufacturer = await upsert('dcim/manufacturers', { slug: 'generic' }, {\n  name: 'Generic',\n  slug: 'generic'\n});\n\nconst devicesByName = {};\n\nfor (let i = 0; i < lnmDevices.length; i++) {\n  const d = lnmDevices[i];\n  const devName = d.sysName || d.hostname;\n  if (!devName) continue;\n\n  const roleSlug = guessRoleSlug(d.os || '', d.sysDescr || '');\n  const role = await upsert('dcim/device-roles', { slug: roleSlug }, {\n    name: roleLabels[roleSlug],\n    slug: roleSlug,\n    color: '0d6efd'\n  });\n\n  const hwRaw = (d.hardware || 'Generic Server').slice(0, 50);\n  const hwSlug = hwRaw.toLowerCase().split(' ').filter(Boolean).join('-').slice(0, 50);\n  const deviceType = await upsert('dcim/device-types', { slug: hwSlug }, {\n    manufacturer: { id: manufacturer.id },\n    model: hwRaw,\n    slug: hwSlug\n  });\n\n  const device = await upsert('dcim/devices', { name: devName }, {\n    name: devName,\n    device_type: { id: deviceType.id },\n    role: { id: role.id },\n    site: { id: site.id },\n    status: d.status === 1 ? 'active' : 'offline',\n    comments: 'OS: ' + (d.os || 'unknown') + ' | IP: ' + (d.ip || '') + ' | Synced from LibreNMS'\n  });\n\n  devicesByName[devName] = { nb: device, lnm: d };\n}\n\nreturn [{ json: { devicesByName: devicesByName, devices_sync: { synced: Object.keys(devicesByName).length } } }];"
      }
    },
    {
      "id": "n10-code-physical-interfaces",
      "name": "Code: Sync Physical Interfaces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $('Set: Configuration').first().json;\nconst netbox_url = config.netbox_url;\nconst netbox_token = config.netbox_token;\nconst librenms_url = config.librenms_url;\nconst librenms_token = config.librenms_token;\nconst devicesByName = $input.first().json.devicesByName;\nconst nbH = {\n  'Authorization': 'Token ' + netbox_token,\n  'Content-Type': 'application/json',\n  'Accept': 'application/json'\n};\nconst lnmH = { 'X-Auth-Token': librenms_token, 'Accept': 'application/json' };\n\nasync function nbGet(path, params) {\n  let url = netbox_url + '/api/' + path + '/?limit=500';\n  if (params) {\n    const keys = Object.keys(params);\n    for (let i = 0; i < keys.length; i++) {\n      url += '&' + encodeURIComponent(keys[i]) + '=' + encodeURIComponent(params[keys[i]]);\n    }\n  }\n  return await $helpers.httpRequest({ method: 'GET', url: url, headers: nbH });\n}\n\nasync function upsert(path, searchParams, createBody) {\n  const r = await nbGet(path, searchParams);\n  if (r.count > 0) return r.results[0];\n  return await $helpers.httpRequest({\n    method: 'POST',\n    url: netbox_url + '/api/' + path + '/',\n    headers: nbH,\n    body: JSON.stringify(createBody)\n  });\n}\n\n// Map Linux/SNMP interface name to Netbox interface type\nfunction mapIfType(name) {\n  const n = name.toLowerCase();\n  if (n.startsWith('eth') || n.startsWith('ens') || n.startsWith('enp') || n.startsWith('eno')) return '1000base-t';\n  if (n.startsWith('lo')) return 'virtual';\n  if (n.startsWith('bond') || n.startsWith('team')) return 'lag';\n  if (n.startsWith('br') || n.startsWith('docker') || n.startsWith('virbr')) return 'bridge';\n  if (n.startsWith('wg') || n.startsWith('tun') || n.startsWith('vpn')) return 'virtual';\n  if (n.startsWith('wlan') || n.startsWith('wlp')) return '802.11n';\n  if (n.startsWith('sfp') || n.startsWith('xe') || n.startsWith('te')) return '10gbase-t';\n  if (n.startsWith('ge-') || n.startsWith('gi')) return '1000base-t';\n  return 'other';\n}\n\nconst interfacesByKey = {};\nlet ifaceCount = 0;\n\nconst devNames = Object.keys(devicesByName);\nfor (let i = 0; i < devNames.length; i++) {\n  const devName = devNames[i];\n  const entry = devicesByName[devName];\n  const device = entry.nb;\n  const lnmDev = entry.lnm;\n\n  let ports = [];\n  try {\n    const resp = await $helpers.httpRequest({\n      method: 'GET',\n      url: librenms_url + '/api/v0/devices/' + encodeURIComponent(lnmDev.hostname) + '/ports?columns=port_id,ifName,ifAlias,ifSpeed,ifOperStatus,ifPhysAddress',\n      headers: lnmH\n    });\n    ports = resp.ports || [];\n  } catch(e) {}\n\n  for (let j = 0; j < ports.length; j++) {\n    const port = ports[j];\n    const ifName = port.ifName || ('if' + j);\n    const mac = (port.ifPhysAddress && port.ifPhysAddress.length > 0) ? port.ifPhysAddress : null;\n\n    const iface = await upsert('dcim/interfaces', { device_id: device.id, name: ifName }, {\n      device: { id: device.id },\n      name: ifName,\n      type: mapIfType(ifName),\n      label: port.ifAlias || '',\n      enabled: port.ifOperStatus === 'up',\n      mac_address: mac,\n      description: 'LibreNMS port_id=' + port.port_id\n    });\n\n    interfacesByKey[devName + ':' + ifName] = { nb: iface, port_id: String(port.port_id) };\n    ifaceCount++;\n  }\n}\n\nreturn [{ json: { devicesByName: devicesByName, interfacesByKey: interfacesByKey, interfaces_sync: { synced: ifaceCount } } }];"
      }
    },
    {
      "id": "n11-code-physical-connections",
      "name": "Code: Sync Physical Connections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $('Set: Configuration').first().json;\nconst netbox_url = config.netbox_url;\nconst netbox_token = config.netbox_token;\nconst librenms_url = config.librenms_url;\nconst librenms_token = config.librenms_token;\nconst interfacesByKey = $input.first().json.interfacesByKey;\nconst nbH = {\n  'Authorization': 'Token ' + netbox_token,\n  'Content-Type': 'application/json',\n  'Accept': 'application/json'\n};\nconst lnmH = { 'X-Auth-Token': librenms_token, 'Accept': 'application/json' };\n\n// Fetch LLDP topology from LibreNMS \u2014 each link is a physical cable between two interfaces\nlet links = [];\ntry {\n  const resp = await $helpers.httpRequest({ method: 'GET', url: librenms_url + '/api/v0/links', headers: lnmH });\n  links = resp.links || [];\n} catch(e) {}\n\n// Load all existing cables so we do not create duplicates\nconst cablesResp = await $helpers.httpRequest({\n  method: 'GET',\n  url: netbox_url + '/api/dcim/cables/?limit=1000',\n  headers: nbH\n});\n\nconst existingPairs = new Set();\nfor (let i = 0; i < cablesResp.results.length; i++) {\n  const c = cablesResp.results[i];\n  if (c.a_terminations && c.b_terminations && c.a_terminations.length > 0 && c.b_terminations.length > 0) {\n    const aId = c.a_terminations[0].object_id;\n    const bId = c.b_terminations[0].object_id;\n    existingPairs.add(aId + '-' + bId);\n    existingPairs.add(bId + '-' + aId);\n  }\n}\n\n// Build reverse index: LibreNMS port_id -> interfacesByKey entry\nconst portIdToKey = {};\nconst ifKeys = Object.keys(interfacesByKey);\nfor (let i = 0; i < ifKeys.length; i++) {\n  const entry = interfacesByKey[ifKeys[i]];\n  if (entry.port_id) portIdToKey[entry.port_id] = ifKeys[i];\n}\n\nlet cablesCreated = 0;\nlet cablesSkipped = 0;\n\nfor (let i = 0; i < links.length; i++) {\n  const link = links[i];\n  const localKey = portIdToKey[String(link.local_port_id)];\n  const remoteKey = portIdToKey[String(link.remote_port_id)];\n  if (!localKey || !remoteKey) { cablesSkipped++; continue; }\n\n  const localIfId = interfacesByKey[localKey].nb.id;\n  const remoteIfId = interfacesByKey[remoteKey].nb.id;\n  const pairKey = localIfId + '-' + remoteIfId;\n  if (existingPairs.has(pairKey)) { cablesSkipped++; continue; }\n\n  try {\n    await $helpers.httpRequest({\n      method: 'POST',\n      url: netbox_url + '/api/dcim/cables/',\n      headers: nbH,\n      body: JSON.stringify({\n        a_terminations: [{ object_type: 'dcim.interface', object_id: localIfId }],\n        b_terminations: [{ object_type: 'dcim.interface', object_id: remoteIfId }],\n        status: 'connected',\n        type: 'cat6'\n      })\n    });\n    existingPairs.add(pairKey);\n    existingPairs.add(remoteIfId + '-' + localIfId);\n    cablesCreated++;\n  } catch(e) { cablesSkipped++; }\n}\n\nreturn [{\n  json: {\n    sync_completed_at: new Date().toISOString(),\n    devices_sync: $('Code: Sync Physical Devices').first().json.devices_sync,\n    interfaces_sync: $input.first().json.interfaces_sync,\n    cables_sync: { created: cablesCreated, skipped: cablesSkipped }\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Daily Midnight Trigger": {
      "main": [
        [
          {
            "node": "Set: Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Configuration": {
      "main": [
        [
          {
            "node": "SSH: Collect Docker State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH: Collect Docker State": {
      "main": [
        [
          {
            "node": "Code: Parse SSH Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse SSH Output": {
      "main": [
        [
          {
            "node": "Code: Ensure Netbox Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Ensure Netbox Infrastructure": {
      "main": [
        [
          {
            "node": "Code: Sync Virtual Machines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sync Virtual Machines": {
      "main": [
        [
          {
            "node": "Code: Sync Services and Ports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sync Services and Ports": {
      "main": [
        [
          {
            "node": "Code: Sync Network Prefixes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sync Network Prefixes": {
      "main": [
        [
          {
            "node": "Code: Sync Physical Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sync Physical Devices": {
      "main": [
        [
          {
            "node": "Code: Sync Physical Interfaces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sync Physical Interfaces": {
      "main": [
        [
          {
            "node": "Code: Sync Physical Connections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "netbox-homelab-updater"
}